<header>
  <a href="/"><h1 id="site-title">Running for Refugees</h1></a>
  <a href="/" id="site-logo"></a>


  <ul id="site-nav">
    <a href="/about"><li class="{% if page.active == "about" %}active{% endif %}">About</li></a>
    <a href="{% for post in site.posts limit: 1 %}{{ site.baseurl}}{{ post.url }}{% endfor %}"><li class="{% if page.active == "blog" %}active{% endif %}">Blog</li></a>
    <a target="_blank" href="https://www.justgiving.com/mattisrunningforrefugees/"><li id="donate">Donate</li></a>
  </ul>

  {% if page.active != "tracker" and page.active != 'blog' %}
      <div id="tracker-anchor">
          <a href="/tracker/" class="button">Track my progress<img src="../images/chev-right.svg" alt="chev-right" class="chevron-right"/> </a>
      </div>
  {% endif %}
</header>
