// =================================================
// BASIC RESETS
// =================================================

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {margin: 0; padding: 0;}

a {text-decoration: none;}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

// =================================================
// MARGIN & PADDING
// =================================================

$thin: 0.5em;
$thick: 1em;
$very-thick: 1.5em;
$very-very-thick: 2em;

// Border Radius

$curved: 5px;

// =================================================
// TYPOGRAPHY
// =================================================

$primary-font-stack: 'futura-pt', sans-serif;
$secondary-font-stack: 'Georgia', serif;

$light-font-weight: 300;
$medium-font-weight: 500;
$heavy-font-weight: 700;

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$h1: 32px;
$h2: 24px ;
$h3: 22px;
$h4: 18px;
$p: 18px;


// =================================================
// COLORS
// =================================================

$primary-color: #03A9F4;
$secondary-color: #0277BD;
$contrast-color: #FF6D00;
$light-gray: #f0f0f0;
