---
layout: default
title: "About"
active: about
---

<div id="about-content">

  <img id="matt-banner" src="../images/matt-banner.jpg" alt="matt">

  <div class="content-block">
    <h3>Hi, I'm Matt</h3>
    <p>Hi,  I’m Matt George, founder of Running for Refugees. I have worked for the Organising Committees for the Olympic, Paralympic and Commonwealth Games, and now work for Sport Relief. I am also studying for a degree in sport, fitness and coaching from the Open University and coach an under-9 football team.
  I have enjoyed running and a wide variety of sports from an early age and have completed several half marathons. I have always been attracted to the challenge of long distance running and have started a comprehensive training programme.</p>
  </div>

  <div class="content-block">
    <h3>The Charity</h3>
    <a href="#" id="refugee-council-logo"></a>
    <p>Asylum seekers and refugees have been in the news regularly over the last year and sadly the crisis doesn’t seem likely to end anytime soon. Having become frustrated with the negative portrayal of asylum seekers and refugees and the lack of compassion that is sometimes shown towards them, I and the project team wanted to do something to help. Together, the project team decided to support and promote the brilliant work the Refugee Council does to support people seeking asylum, assist refugees to find employment and gain stability with their lives. Running for Refugees was born.</p>
  </div>

  <div class="content-block">
    <h3>The Team</h3>
    <p>Helping me through this project is an awesome team:</p>

    <div class="card-block">
      {% include team-member.html
        image="../images/jacqui.jpg"
        name="Jacqui - Fundraiser"
        description="Mum"
      %}

      {% include team-member.html
        image="../images/jacqui.jpg"
        name="Will - General Project Hero"
        description=""
      %}

      {% include team-member.html
        image="../images/jacqui.jpg"
        name="Courtney - Logistics"
        description="Events coordinator with British Rowing. Loves sport, travel & the great outdoors."
      %}

      {% include team-member.html
        image="../images/jacqui.jpg"
        name="Jo - Logistics"
        description=""
      %}

      {% include team-member.html
        image="../images/jacqui.jpg"
        name="Naman - Video Wizard"
        description=""
      %}

      {% include team-member.html
        image="../images/tom.jpg"
        name="Tom - Team Techie"
        description="Cycling fanatic. Code geek, pianist & brewer of questionable beer."
      %}
    </div>

  </div>

  <div class="content-block">
    <h3>Sponsors</h3>
    <p>Big thanks to our sponsors! If you’re interested in sponsoring the project, I’d love to chat. Email me at matt@runningforrefugees.co.uk.</p>

    <div class="card-block">
      {% include team-member.html
        image="../images/mizuno.jpg"
        name="Mizuno Clothing"
        description="Serious running is helped by serious running shoes. A big thank you to Mizuno who have generously donated the shoes needed for the challenge."
      %}
    </div>
  </div>

  <div class="content-block">
    <h3>Supporters</h3>
    <p>Huge thanks goes to everyone who has supported the project and donated so far. Special thanks to: <br> - Bassil Shippam & Alsford Trust</p>
  </div>

</div>
